<div class="container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Iniciar sesion</h2>

        <mat-form-field class="w-100">
          <input matInput placeholder="Email" formControlName="username" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
        </mat-form-field>
        <button mat-raised-button color="primary">Iniciar sesion</button>
      </form>
    </mat-card-content>
    <mat-card-footer class="mb-3">
      Todavia no tienes una <a routerLink="/auth/register">cuenta?</a>
    </mat-card-footer>
  </mat-card>
</div>
