<h1>
  Recibimos una orden
</h1>
<div style="font-size: 15px;">
  <p>
    Entregar a
    <b>
      {{meet.organizador.nombre}}
      {{meet.organizador.apellido}}
    </b>
  </p>
  Cantidad del pedido:
  {{cantBirras}}
  <br />
  Fecha y hora de la entrega:
  {{horaEntrega}}
  <br />
  Sede:
  {{meet.lugar}}
  <br />
  <br />
  Contacta con
  <a href="mailto:{{meet.organizador.email}}">
    {{meet.organizador.nombre}}
    {{meet.organizador.apellido}}
  </a>
  para mas informacion
</div>
