<div *ngIf="!isLoading">
  <div class="main" [ngStyle]="{'background-image': 'url(' + data?.image?.imagePath + ')'}">
    <div class="position-relative overflow-hidden text-center">
      <div class="col-md-5 p-5 mx-auto my-5 shadowText">
        <h1 class="fw-normal title-meetup">{{data.nombre}}</h1>
      </div>
    </div>
  </div>

  <div class="container mt-5 mb-5">
    <div class="row featurette mt-3">
      <div class="col-md-7">
        <h1>Acerca de la meetup</h1>
        <p class="lead">{{data.descripcion}}</p>

        <h2 class="fw-bold">Fecha: {{data.fecha | date: "dd/MM/yyyy"}}</h2>
        <h2 class="fw-bold">Hora: {{data.fecha | date: "H:mm"}}</h2>
        <h2 class="fw-bold">Duracion: {{data.duracion}}</h2>
        <ng-container *ngIf="data.clima; else elseTemplate">
          <h2 class="fw-bold">Temperatura estimada para {{data.lugar}}: {{data.clima.tempAprox}}&deg;</h2>
        </ng-container>
        <ng-template #elseTemplate>
          <h2 class="fw-bold">Todavia no pudimos calcular el clima para este dia</h2>
        </ng-template>
      </div>
    </div>
  </div>
</div>
