<ng-container *ngIf="!isLoading">
  <div class="p-3">
    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let meetup of meetups; index as i">
          <mat-card class="mat-elevation-z8">
            <mat-card-header>
              <mat-card-title>{{meetup.nombre}} {{i}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{meetup.image?.imagePath}}">
            <mat-card-content>
              <h3><b>Fecha </b> {{meetup.fecha | date: "dd/MM/yyyy"}} {{meetup.fecha | date: "H:mm"}} </h3>
              <h3><b>Duracion </b> {{meetup.duracion}}</h3>
              <ng-container *ngIf="meetup.clima; else elseTemplate">
                <h3 class="fw-bold">Temperatura estimada para {{meetup.lugar}}: {{meetup.clima.tempAprox}}&deg;</h3>
              </ng-container>
              <ng-template #elseTemplate>
                <h3 class="fw-bold">Todavia no pudimos calcular el clima para este dia</h3>
              </ng-template>
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-center">
              <button mat-raised-button color="primary" (click)="goToMeetup(meetup.slug)">Mas info</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</ng-container>
