<app-navbar></app-navbar>
<router-outlet></router-outlet>

<footer class="w-100 p-5">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3">Perez, Alan Diego Maximo</small>
    </div>

  </div>
</footer>
