.navbar-title {
    color: #172D7B;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.title {
    color: #172D7B;
    font-size: 18px;
}

.subtitle {
    color: #666666;
    font-size: 13px;
}

.full-screen {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.671);
}


.shadow-md {
    box-shadow: 0 5px 10px rgba(0,0,0,.15)!important;
}
