<div class="container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form">
        <h2>Nueva Meetup</h2>
        <mat-form-field class="full-width-input">
          <input formControlName="Nombre" matInput placeholder="Nombre de la meetup" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Elija una fecha</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="Fecha">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput type="text" placeholder="Duracion de la meetup, 1h, 30m" required formControlName="Duracion">
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <textarea matInput type="text" placeholder="Descripcion" required formControlName="Descripcion"></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Provincia</mat-label>
          <mat-select (selectionChange)="getCiudades($event.value)" formControlName="Provincia">
            <mat-option *ngFor="let provincia of provincias" [value]="provincia.nombre">
              {{provincia.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="ciudades">
          <mat-label>Ciudad</mat-label>
          <mat-select formControlName="Ciudad">
            <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad.nombre">
              {{ciudad.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput placeholder="Url para la imagen de la meetup, 1920x400" required formControlName="UrlImage">
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="sendForm()">Registrarse</button>
      </form>
    </mat-card-content>
  </mat-card>

</div>
