<div>
  <div class="main">
    <div class="position-relative overflow-hidden text-center">
      <div class="col-md-5 mx-auto my-5 shadowText">
        <h1 class="fw-normal title-meetup">Panel de administracion</h1>
      </div>
    </div>
  </div>


  <div class="container mt-5 mb-5">
    <div class="row featurette mt-3">

      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-card class="mat-elevation-z8">
            <mat-card-header>
              <mat-card-title>Crear meetup</mat-card-title>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-center">
              <button mat-raised-button color="primary" routerLink="create">Crear meetup</button>
            </mat-card-actions>
          </mat-card>
        </div>

        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-card class="mat-elevation-z8">
            <mat-card-header>
              <mat-card-title>Ver meetups creadas</mat-card-title>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-center">
              <button mat-raised-button color="primary">Ver meetups</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

</div>


<!--  -->
